streamlit

langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-chroma==0.1.4
langchain-text-splitters==0.2.2
langchain-huggingface==0.0.3
langchain-groq==0.1.9

sentence-transformers==2.7.0
chromadb==0.5.5

unstructured[pdf]==0.14.10

python-dotenv==1.0.1
protobuf>=5.0.0
